:root {
    --black: #2b2b2b;
    --white: #fbfbfb;
    --blue: #06617D;
    --gray: #606060;
    --soft-gray: #EEEDEF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--soft-gray);
}