header {
    top: 0;
    width: 100vw;
    height: 6rem;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    position: static;
}

header .logo img {
    width: 180px;
    height: 80px;
}

header .left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#spacer {
    width: 3px;
    height: 60px;
    background-color: var(--blue);
}

.list {
    padding-left: 4rem;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}


.list ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: .8rem;
    gap: 1rem;
}

.list ul li {
    margin: .4rem;
}

.list ul li .a__link {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    font-weight: 400;
    color: var(--black);
    transition: ease .05s;
}

.list ul li .a__link:hover {
    color: var(--blue)
}

.list ul li .a__link .active {
    color: var(--blue);
}

.right .icons{
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.right .icons #bell {
    color: var(--blue);
    font-size: 1.4rem;
    cursor: pointer;
}

#user__profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--soft-gray);
    text-align: center;
}

#user__icon {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-size: 1.4rem;
    cursor: pointer;
}

/* toggle */
#toggle__menu {
    display: none;
    font-size: 2.2rem;
    color: var(--blue);
    cursor: pointer;
}

.list.open {
    transform: translateX(0);
}
  
  @media (max-width: 740px) {
    header {
      justify-content: space-between;
    }
  
    .right {
      width: 30px;
    }
  
    .icons .icon__menu {
      display: none;
    }
  
    #toggle__menu {
      display: inline;
    }
  
    /* Oculte o menu na versão para desktop */
    .list {
      display: none;
    }
  }
