.container__produto {
    display: flex;
    margin: .3rem 0 .3rem 0;
    padding: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 60px;
    background-color: var(--white);
    border: none;
    border-radius: 8px;
    box-shadow:  20px 20px 60px #d5d5d5;
}

.container__produto .left {
    display: block;
    width: 200px;
    height: 60px;
    align-items: center;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    text-align: center;
}


.container__produto .left .spacer__produto{
    width: 3px;
    height: 44px;
    background-color: var(--gray);
    margin-right: .5rem;    
}

.container__produto .right {
    height: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;   
    align-items: center;
    margin-left: .4rem;
}

.container__produto .all__prod {    
    margin-left: 4rem;
    width: 470px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: .7rem;
    color: var(--black);
    text-align: center;
    gap: 2rem;
}


.container__produto .right .produto__quantidade{
    font-size: .9rem;
    color: var(--blue);
    width: 20px;
    height: auto;
}

.fisqp__blue__icon {
    font-size: 1.4rem;
    color: var(--blue);
    cursor: pointer;
    max-width: 30px;
}

.fisqp__gray__icon {
    font-size: 1.4rem;
    color: var(--gray);
    cursor: pointer;   
    max-width: 30px;
}

.produto__button {
    display: flex;
    justify-content: center;
    margin-inline: 1.5rem;
    background-color: var(--white);
    width: 50px;
    height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--blue);
    border: none;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}